In [1]:
import pycaret
import pandas as pd
import numpy as np

raw_df = pd.read_csv("bank.csv", sep=",", header=0)
df_bank = raw_df.copy()

In [3]:
df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [4]:
df_bank.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
age,11162.0,NaN,NaN,NaN,41.231948,11.913369,18.0,32.0,39.0,49.0,95.0
job,11162,12,management,2566,NaN,NaN,NaN,NaN,NaN,NaN,NaN
marital,11162,3,married,6351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education,11162,4,secondary,5476,NaN,NaN,NaN,NaN,NaN,NaN,NaN
default,11162,2,no,10994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
balance,11162.0,NaN,NaN,NaN,1528.538524,3225.413326,-6847.0,122.0,550.0,1708.0,81204.0
housing,11162,2,no,5881,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan,11162,2,no,9702,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contact,11162,3,cellular,8042,NaN,NaN,NaN,NaN,NaN,NaN,NaN
day,11162.0,NaN,NaN,NaN,15.658036,8.42074,1.0,8.0,15.0,22.0,31.0
month,11162,12,may,2824,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration,11162.0,NaN,NaN,NaN,371.993818,347.128386,2.0,138.0,255.0,496.0,3881.0
campaign,11162.0,NaN,NaN,NaN,2.508421,2.722077,1.0,1.0,2.0,3.0,63.0
pdays,11162.0,NaN,NaN,NaN,51.330407,108.758282,-1.0,-1.0,-1.0,20.75,854.0
previous,11162.0,NaN,NaN,NaN,0.832557,2.292007,0.0,0.0,0.0,1.0,58.0
poutcome,11162,4,unknown,8326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deposit,11162,2,no,5873,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# duration 컬럼 버리기
# duration은 앞으로 수집되어야 할 데이터라서 drop
df_bank = df_bank.drop('duration', axis=1)
df_bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,1,-1,0,unknown,no

In [3]:
df_bank_ready = df_bank.copy()

종속변수(타겟) = deposit  
독립변수 = 나머지

In [4]:
from sklearn.model_selection import train_test_split

# 타겟 선택
target = df_bank_ready['deposit']

# 특성 선택
feature = df_bank_ready.drop('deposit', axis=1)

# pycaret 사용하기

In [8]:
from pycaret.classification import *
# from catboost import CatBoostClassifier
# from xgboost import XGBClassifier


# PyCaret의 setup()을 호출하여 데이터 준비 및 스케일링 설정
# normalize=True 옵션을 설정하면 PyCaret이 자동으로 스케일링
# fix_imbalance=True 옵션은 불균형데이터 SMOTE로 스케일링
df_bank_pycaret = df_bank_ready.copy()
clf_setup = setup(data=df_bank_pycaret, target='deposit', normalize=True, session_id=123)
# clf_setup = setup(data=df_bank_ready, target='deposit', normalize=True, session_id=123, fix_imbalance=True)


# 적용 모델 리스트 확인
# models()


# 모델 비교 및 선택
best_model = compare_models()

In [9]:
# pycaret에서 전처리해준 데이터 가져오기
X_train_transformed = get_config('X_train_transformed')
y_train = get_config('y_train_transformed')
X_test_transformed = get_config('X_test_transformed')
y_test = get_config('y_test_transformed')

# 전처리된 데이터 확인
print("훈련 데이터 (X_train_transformed):")
print(X_train_transformed.head())

print("\n훈련 데이터 레이블 (y_train):")
print(y_train.head())

print("\n테스트 데이터 (X_test_transformed):")
print(X_test_transformed.head())

print("\n테스트 데이터 레이블 (y_test):")
print(y_test.head())

X_train_transformed.shape, y_train.shape

훈련 데이터 (X_train_transformed):
           age  job_retired  job_technician  job_blue-collar  job_admin.  \
6148  0.145845     3.619791       -0.449444        -0.457649   -0.369597
7340  0.900027    -0.276259        2.224971        -0.457649   -0.369597
4830 -1.111125    -0.276259       -0.449444         2.185080   -0.369597
3347 -0.524539    -0.276259       -0.449444        -0.457649    2.705652
5290  0.313441    -0.276259       -0.449444        -0.457649    2.705652

      job_management  job_services  job_student  job_entrepreneur  \
6148       -0.543575     -0.295386    -0.179925         -0.171012
7340       -0.543575     -0.295386    -0.179925         -0.171012
4830       -0.543575     -0.295386    -0.179925         -0.171012
3347       -0.543575     -0.295386    -0.179925         -0.171012
5290       -0.543575     -0.295386    -0.179925         -0.171012

      job_self-employed  ...  month_sep  month_jan  month_dec  campaign  \
6148          -0.194927  ...  -0.169819  -0.182187  -0.100419 -0.187224
7340          -0.194927  ...  -0.169819  -0.182187  -0.100419 -0.187224
4830          -0.194927  ...  -0.169819  -0.182187  -0.100419 -0.187224
3347          -0.194927  ...  -0.169819  -0.182187  -0.100419 -0.565985
5290          -0.194927  ...  -0.169819  -0.182187  -0.100419 -0.565985

         pdays  previous  poutcome_unknown  poutcome_success  \
6148 -0.476372 -0.357339          0.577301         -0.318604
7340 -0.476372 -0.357339          0.577301         -0.318604
4830  2.485389  0.076859         -1.732199          3.138692
3347 -0.476372 -0.357339          0.577301         -0.318604
5290 -0.476372 -0.357339          0.577301         -0.318604

      poutcome_failure  poutcome_other
6148          -0.35513       -0.219138
7340          -0.35513       -0.219138
4830          -0.35513       -0.219138
3347          -0.35513       -0.219138
5290          -0.35513       -0.219138

[5 rows x 47 columns]

훈련 데이터 레이블 (y_train):
6148    0
7340    0
4830    1
3347    1
5290    0
Name: deposit, dtype: int32

테스트 데이터 (X_test_transformed):
           age  job_retired  job_technician  job_blue-collar  job_admin.  \
2631 -0.608337    -0.276259       -0.449444        -0.457649   -0.369597
5092  0.062047    -0.276259       -0.449444        -0.457649   -0.369597
6439 -0.775933    -0.276259       -0.449444         2.185080   -0.369597
7160 -0.608337    -0.276259       -0.449444         2.185080   -0.369597
4337 -0.189347    -0.276259       -0.449444        -0.457649   -0.369597

      job_management  job_services  job_student  job_entrepreneur  \
2631       -0.543575      3.385399    -0.179925         -0.171012
5092        1.839674     -0.295386    -0.179925         -0.171012
6439       -0.543575     -0.295386    -0.179925         -0.171012
7160       -0.543575     -0.295386    -0.179925         -0.171012
4337       -0.543575      3.385399    -0.179925         -0.171012

      job_self-employed  ...  month_sep  month_jan  month_dec  campaign  \
2631          -0.194927  ...   5.888616  -0.182187  -0.100419  0.191538
5092          -0.194927  ...  -0.169819  -0.182187  -0.100419 -0.187224
6439          -0.194927  ...  -0.169819   5.488851  -0.100419 -0.187224
7160          -0.194927  ...  -0.169819  -0.182187  -0.100419 -0.565985
4337          -0.194927  ...   5.888616  -0.182187  -0.100419 -0.565985

         pdays  previous  poutcome_unknown  poutcome_success  \
2631  0.458434  1.813649         -1.732199         -0.318604
5092  0.356623  1.813649         -1.732199          3.138692
6439  1.346962  0.511056         -1.732199         -0.318604
7160  1.161852  0.076859         -1.732199         -0.318604
4337  1.245151  0.076859         -1.732199          3.138692

      poutcome_failure  poutcome_other
2631         -0.355130        4.563335
5092         -0.355130       -0.219138
6439         -0.355130        4.563335
7160          2.815873       -0.219138
4337         -0.355130       -0.219138

[5 rows x 47 columns]

테스트 데이터 레이블 (y_test):
2631    1
5092    1
6439    0
7160    0
4337    1
Name: deposit, dtype: int32

((7813, 47), (7813,))

# train, test 데이터 나누기

In [5]:
# X_train, X_test, y_train, y_test 나누기
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size=0.2, shuffle=True, random_state=121)

### 수치형 데이터 스케일링

In [6]:
from sklearn.preprocessing import StandardScaler
pd.options.display.float_format = '{:.2e}'.format

sc = StandardScaler()

# 수치형 데이터
num_cols = ['age', 'balance', 'day', 'campaign', 'pdays', 'previous']

sc.fit(X_train[num_cols]) # fit은 X_train만

# 스케일링 적용
X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()

X_train_scaled[num_cols] = sc.fit_transform(X_train[num_cols])  # fit은 X_train만
X_test_scaled[num_cols] = sc.transform(X_test[num_cols])  # transform은 X_train, X_test 모두

# 범주형 데이터 스케일링

In [8]:
# ValueError: Shape of passed values is (8929, 1), indices imply (8929, 44)
# from sklearn.preprocessing import OneHotEncoder

# encoder = OneHotEncoder()
# cat_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

# # X_train에 대해 fit하고, X_train과 X_test에 모두 transform 적용
# encoded_X_train = encoder.fit_transform(X_train[cat_cols])  # fit은 X_train만
# encoded_X_test = encoder.transform(X_test[cat_cols])  # transform은 X_test만

In [11]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
cat_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

# 범주형 데이터 인코딩 (fit은 X_train에 대해서만)
encoded_X_train = encoder.fit_transform(X_train[cat_cols])
encoded_X_test = encoder.transform(X_test[cat_cols])

# 인코딩된 데이터를 데이터프레임으로 변환
encoded_X_train_df = pd.DataFrame(encoded_X_train, columns=encoder.get_feature_names_out(cat_cols), index=X_train.index)
encoded_X_test_df = pd.DataFrame(encoded_X_test, columns=encoder.get_feature_names_out(cat_cols), index=X_test.index)

# 수치형 데이터와 범주형 데이터 합치기

In [12]:
# 인코딩된 데이터를 데이터프레임으로 변환하여 열 이름 지정
encoded_X_train_df = pd.DataFrame(encoded_X_train, columns=encoder.get_feature_names_out(cat_cols), index=X_train.index)
encoded_X_test_df = pd.DataFrame(encoded_X_test, columns=encoder.get_feature_names_out(cat_cols), index=X_test.index)

# 인코딩된 범주형 데이터와 스케일링된 수치형 데이터를 합치기
X_train_prepared = pd.concat([X_train_scaled.drop(cat_cols, axis=1), encoded_X_train_df], axis=1)
X_test_prepared = pd.concat([X_test_scaled.drop(cat_cols, axis=1), encoded_X_test_df], axis=1)